 .github-repo::before {
	content:"";
	width: 16px;
	height: 16px;
	background-image: url("../assets/images/GitHub-Mark-16px.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px 5px 0;
}

.github-repo,
.deis-pin {
	border: 1px solid #ccc;
	text-transform: none !important;
	padding: 2px 4px;
	color: #000 !important;
	margin: 0 4px 0 0 !important;
	white-space: nowrap;
	line-height: 32px;
}

.deis-pin::before {
	content:"";
	width: 16px;
	height: 16px;
	background-image: url("../assets/images/deispin.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px 5px 0;
}

.tag_title {
	margin-bottom: 20px;
}